#Include configs from openocd
source [find interface/stlink.cfg]
source [find target/stm32f0x.cfg]

init
sleep 200
reset halt
sleep 200

flash probe 0
stm32f1x mass_erase 0
flash write_image wideband_image_with_bl.bin 0x08000000 bin
reset
shutdown
